@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fontHind.scss";
@import "./fontSupreme.scss";
@import "./fontBoska.scss";
@import "./luge.scss";
// @import "./normalise.scss";

.lg-cursor-pointer:before {
    margin: -1rem 0 0 -1rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    backdrop-filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    opacity: .7;
    mix-blend-mode: color-burn;
  }
  #app{
    transition: background-color 0.5s ease, color 0.5s ease;
  }