@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: grotta;
    src: url(/fonts/Grotta-Medium.otf);
}
@font-face {
    font-family: Morgenwalsh;
    src: url(/fonts/Morgenwalsh.otf);
}

body{
    font-family: grotta;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .morgenwalsh{
    font-family: Morgenwalsh;
}
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.6s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  }